ul {
    display: flex;
    padding-inline-start: 0;
    gap: 0.5rem;
}

ul li {
    list-style: none;
    border: 1px solid gray;
    padding: 1rem;
    margin: 0;
}

@media (width < 2000px) {
    ul {
        flex-direction: column;
    }
}